<section class="show-movie-details">
<div class="grid grid-nogutter surface-section text-800">
    <div class="col-12 md:col-6 lg:col-5 p-6 text-center md:text-left flex align-items-center ">
        <section>
            <span class="block text-6xl font-bold mb-4 text-primary">{{movieDetails.title}}</span>
            <p class="mt-0 mb-4 text-600 line-height-3">{{movieDetails.overview}}</p>
            <p>Rating :<i class="pi pi-thumbs-up mx-2"></i>{{movieDetails.vote_average}} | <i class="pi pi-clock mx-1"></i>Duration : {{movieDetails.runtime}}</p>
            
            <section class="cast-details mt-5">
                <p>Release_date : {{movieDetails.release_date}} | Revenue : {{movieDetails.revenue | currency:'USD':'symbol'}}</p>
            </section>
        </section>
    </div>
    <div class="text-center mt-5 md:col-6 lg:col-7 overflow-hidden">
        <img 
        [src]="imagesBaseUrl + '/w185/' + movieDetails.poster_path"
        [alt]="movieDetails.title"
        class="w-15rem">
    </div>
</div>
</section>