<nav>
    <ul class="flex flex-wrap">
        <li class="flex-order-0 flex align-items-center justify-content-center w-4rem h-4rem  font-bold border-round m-2">
            <img routerLink="/" class="w-6" src="../../../assets/images/logo.svg" alt="logo">
        </li>
        <li routerLink="/Home" class="flex-order-1 flex align-items-center justify-content-center w-4rem h-4rem  cursor-pointer font-bold border-round m-2">Home</li>
        <li routerLink="/movies" class="flex-order-1 flex align-items-center justify-content-center w-4rem h-4rem  cursor-pointer font-bold border-round m-2">Movies</li>
    </ul>
</nav>

