<div class="card flex justify-content-center">
        <p-avatar 
            image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" 
            size="large" 
            shape="circle" />
        <p-avatar 
            image="https://primefaces.org/cdn/primeng/images/demo/avatar/asiyajavayant.png" 
            size="large" 
            shape="circle" />
        <p-avatar 
            image="https://primefaces.org/cdn/primeng/images/demo/avatar/onyamalimba.png" 
            size="large" 
            shape="circle" />
        <p-avatar 
            image="https://primefaces.org/cdn/primeng/images/demo/avatar/ionibowcher.png" 
            size="large" 
            shape="circle" />
        <p-avatar 
            image="https://primefaces.org/cdn/primeng/images/demo/avatar/xuxuefeng.png" 
            size="large" 
            shape="circle" />
        <p-avatar 
            label="+2" 
            shape="circle"
            size="large" 
            [style]="{ 'background-color': '#9c27b0', color: '#ffffff' }" />
</div>
